/* ==========================================================================
*                alertify
========================================================================== */
.alertify,.alertify-cover{z-index:99999;position:fixed}.alertify,.alertify-log,.alertify-show{-webkit-transition:all .5s cubic-bezier(.175,.885,.32,1.275);-moz-transition:all .5s cubic-bezier(.175,.885,.32,1.275);-ms-transition:all .5s cubic-bezier(.175,.885,.32,1.275);-o-transition:all .5s cubic-bezier(.175,.885,.32,1.275);transition:all .5s cubic-bezier(.175,.885,.32,1.275)}.alertify-hide{-webkit-transition:all 250ms cubic-bezier(.6,-.28,.735,.045);-moz-transition:all 250ms cubic-bezier(.6,-.28,.735,.045);-ms-transition:all 250ms cubic-bezier(.6,-.28,.735,.045);-o-transition:all 250ms cubic-bezier(.6,-.28,.735,.045);transition:all 250ms cubic-bezier(.6,-.28,.735,.045)}.alertify-cover{top:0;right:0;bottom:0;left:0;background-color:#fff;filter:alpha(opacity=0);opacity:0}.alertify-cover-hidden{display:none}.alertify{top:50px;left:50%;width:550px;margin-left:-275px;opacity:1}.alertify-hidden{-webkit-transform:translate(0,-150px);-moz-transform:translate(0,-150px);-ms-transform:translate(0,-150px);-o-transform:translate(0,-150px);transform:translate(0,-150px);opacity:0;display:none}:root *>.alertify-hidden{display:block;visibility:hidden}.alertify-logs{position:fixed;z-index:5000;top:28px;right:10px;width:300px}.alertify-logs-hidden{display:none}.alertify-log{display:block;margin-top:10px;position:relative;right:-300px;opacity:0}.alertify-log-show{right:0;opacity:1}.alertify-log-hide{-webkit-transition:all .5s cubic-bezier(.6,-.28,.735,.045);-moz-transition:all .5s cubic-bezier(.6,-.28,.735,.045);-ms-transition:all .5s cubic-bezier(.6,-.28,.735,.045);-o-transition:all .5s cubic-bezier(.6,-.28,.735,.045);transition:all .5s cubic-bezier(.6,-.28,.735,.045);-webkit-transform:translate(300px,0);-moz-transform:translate(300px,0);-ms-transform:translate(300px,0);-o-transform:translate(300px,0);transform:translate(300px,0);opacity:0}.alertify-dialog{padding:25px}.alertify-resetFocus{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.alertify-inner{text-align:center}.alertify-text{margin-bottom:15px;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-size:100%}.alertify-button,.alertify-button:active,.alertify-button:hover,.alertify-button:visited{background:0 0;text-decoration:none;border:none;line-height:1.5;font-size:100%;display:inline-block;cursor:pointer;margin-left:5px}@media only screen and (max-width:680px){.alertify,.alertify-logs{width:90%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.alertify{left:5%;margin:0}}
/**
 * Default Look and Feel
 */
.alertify,
.alertify-log {
	font-family: sans-serif;
}
.alertify {
	background: #FFF;
	border: 10px solid #333; /* browsers that don't support rgba */
	border: 10px solid rgba(0,0,0,.7);
	border-radius: 8px;
	box-shadow: 0 3px 3px rgba(0,0,0,.3);
	-webkit-background-clip: padding;     /* Safari 4? Chrome 6? */
	   -moz-background-clip: padding;     /* Firefox 3.6 */
	        background-clip: padding-box; /* Firefox 4, Safari 5, Opera 10, IE 9 */
}
	.alertify-text {
		border: 1px solid #CCC;
		padding: 10px;
		border-radius: 4px;
	}
	.alertify-button {
		border-radius: 4px;
		color: #FFF;
		font-weight: bold;
		padding: 6px 15px;
		text-decoration: none;
		text-shadow: 1px 1px 0 rgba(0,0,0,.5);
		box-shadow: inset 0 1px 0 0 rgba(255,255,255,.5);
		background-image: -webkit-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
		background-image:    -moz-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
		background-image:     -ms-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
		background-image:      -o-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
		background-image:         linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
	}
	.alertify-button:hover,
	.alertify-button:focus {
		outline: none;
		background-image: -webkit-linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,0));
		background-image:    -moz-linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,0));
		background-image:     -ms-linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,0));
		background-image:      -o-linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,0));
		background-image:         linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,0));
	}
	.alertify-button:focus {
		box-shadow: 0 0 15px #2B72D5;
	}
	.alertify-button:active {
		position: relative;
		box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
	}
		.alertify-button-cancel,
		.alertify-button-cancel:hover,
		.alertify-button-cancel:focus {
			background-color: #FE1A00;
			border: 1px solid #D83526;
		}
		.alertify-button-ok,
		.alertify-button-ok:hover,
		.alertify-button-ok:focus {
			background-color: #5CB811;
			border: 1px solid #3B7808;
		}

.alertify-log {
	background: #1F1F1F;
	background: rgba(0,0,0,.9);
	padding: 15px;
	border-radius: 4px;
	color: #FFF;
	text-shadow: -1px -1px 0 rgba(0,0,0,.5);
}
	.alertify-log-error {
		background: #FE1A00;
		background: rgba(254,26,0,.9);
	}
	.alertify-log-success {
		background: #5CB811;
		background: rgba(92,184,17,.9);
	}


img {
    height: auto;
    max-width: 100%;
}
.mom-addons-extension .authors {
	margin-right: -120px;
}
.mom-addons-extension .status-wrap {
	float: right;
}
.mom-addons-extension .status {
	padding: 0 10px;
	line-height: 20px;
	font-size: 11px;
	display: inline-block;
	border:1px solid #e5e5e5;
	color: #888;
	margin-left: 2px;
}

.mom-addons-extension .status.active {
	border-color: #66B266;
	background-color:#66B266;
	color:#fff;
}

.mom-addons-extension .status.inactive {
	color: #d4d4d4;
}
.mom-addons-extension .status.required {
	border-color: #e74c3c;
	background-color:#e74c3c;
	color:#fff;

}
.mom-addons-extension .plugin-action-buttons li {
	position: relative;
	text-align: center;
}
.mom-addons-extension .plugin-action-buttons li.required {
	color: #d36363;
}
 .mom-addons-extension .plugin-action-buttons li.new_version {
	 color: #27ae60;
	 font-size: 12px;
 }
.mom-addons-extension .spinner {
	position: absolute;
	right: 100%;
	top: 50%;
	margin-top: -10px;
	visibility: visible;
	display: none;
}

.mom-addon-button i {
	color: #d54e21;
	line-height: normal;
	margin-right: 5px;
	position: relative;
	top: 2px;
}
.mom-addon-button i.dashicons-yes {
	color: #79ba49;
}
.mom-addon-button.updated i {
	-webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.mom-addon-button.error {
	background-color: #e74c3c;
	border: none;
	box-shadow: none;
	color: #fff;
}
.mom-addons-extension .name.column-name {
    margin-top: -17px;
}

.mom-addons-extension h4 {
    font-size: 15px;
		color: #000;
}
/* dashboard widgets */
.mom_dashboard_widget {
	background: #fff;
	width: 480px;
	float: left;
	margin: 0 20px 20px 0;
	min-height: 340px;
	position: relative;
}
.mom_dashboard_widget.disabled::before {
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background: rgba(0,0,0,0.4);
		z-index: 10;
}

.mom_dashboard_widget.disabled::after {
	content: 'You need to activate the theme to enable auto updates';
	z-index: 11;
	color: #fff;
	font-size: 16px;
	line-height: 1.4;
	text-align: center;
	position: absolute;
	top: 50%;
	width: 100%;
	-moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

}
.mom_dashboard_widget.disabled .title-button {
	display: none;
}
.mom_dashboard_widget .widget-head {
		line-height: 63px;
		padding: 0 20px;
		border-bottom: 1px solid rgba(0,0,0,0.1);
		position: relative;
}
.mom_dashboard_widget .widget-head h3 {
	margin: 0;
	color: #444;
	vertical-align: middle;
}

.mom_dashboard_widget .mom-ds-button.title-button {
	position: absolute;
	line-height: 32px;
	font-size: 13px;
	padding: 0 12px;
	top: 50%;
	margin-top: -16px;
	right: 20px;
	background-color: #e74c3c;
}
.mom_dashboard_widget .mom-ds-button.title-button::before {
	content: "";
	font-family: 'fontAwesome';
	line-height: inherit;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 16px;
	float: left;
	margin-right: 10px;
}
.mom-inactive-widget.mom_dashboard_widget .widget-head h3 {
	color: #e74c3c;
}
.mom-inactive-widget.mom_dashboard_widget .mom-ds-button.title-button::before {
	content: "\f071";
}
.mom-active-widget.mom_dashboard_widget .mom-ds-button.title-button {
	background-color: #27ae60;
}
.mom-active-widget.mom_dashboard_widget .mom-ds-button.title-button::before {
	content: "\f058";
}
.mom_dashboard_widget .widget-content {
	padding: 30px 20px 20px;
}
.mom_dashboard_widget .widget-content .field-title {}

.mom_dashboard_widget .widget-content .desc {
	margin: 0;
}
.mom_dashboard_widget .widget-info {
	margin-bottom: 10px;
}
.mom_dashboard_widget .bold {
	font-weight: bold;
}
.mom-ds-space {
	margin-top: 10px;
	clear: both;
}
.mom-ds-space.x2 {
	margin-top: 20px;
}
.mom-ds-space.x3 {
	margin-top: 30px;
}
.mom-ds-space.x4 {
	margin-top: 40px;
}
.mom_dashboard_widget .widget-content table {
	border: 0;
	margin-bottom: 0;
}
.mom_dashboard_widget .widget-content table td {
	padding: 6px 10px;
}
.mom_dashboard_widget .widget-content table td:first-child {
	padding-left: 0;
}
.mom_dashboard_widget .widget-content input {
	width: 100%;
	padding:0 20px;
	line-height: 40px;
	background-color: #e5e5e5;
	border: 1px solid transparent;
	box-shadow: none;
	margin: 15px 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.mom-ds-button {
		line-height: 40px;
		padding: 0 20px;
		background-color: #3498db;
		border: none;
		color: #fff;
		font-size: 14px;
		border-radius: 4px;
		webkit-border-radius: 4px;
		cursor: pointer;
		display: inline-block;
		text-decoration: none;
}
.mom-ds-button i {
	float: left;
	font-size: 16px;
	margin-right: 7px;
	line-height: inherit;
}
.mom-ds-button:hover {
	color: #fff;
}
.mom-ds-header .nav-tab-wrapper {
	padding-right: 0 !important;
}
 .nav-tab-wrapper .mom-ds-button.small {
	line-height: 28px;
	padding: 0 10px;
	font-size: 12px;
}
.mom-ds-button {
	line-height: 32px;
	padding: 0 12px;
	font-size: 13px;
}
.mom-ds-button.border {
background: transparent;
border: 1px solid #3498db;
color: #3498db;
}

.mom-ds-button.deactive {
	background-color: #e74c3c;
}
.mom-ds-button.updated {
	background-color: #27ae60;
}
.mom-active-widget .widget-head h3 {
	color: #27ae60;
}
.mom-ajax-backdrop {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	top: 0;
	left: 0;
	text-align: center;
	color: #fff;
	z-index: 10000;
}
.mom-ajax-backdrop .mom-ajax-backdrop-inner {
	font-size: 25px;
	font-weight: 600;
	text-transform: uppercase;
	position: absolute;
	width: 100%;
	top: 50%;
	left: 0;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.mom-ajax-backdrop .mom-ajax-backdrop-inner span {
	display: block;
}
.mom-ajax-backdrop .mom-ajax-backdrop-inner img {
	margin-bottom: 35px;
	width: 55px;
}

.widget-alt-content-2:not(.show) {
	display: none;
}

input.invalid {
	border-color: red !important;
}

.mom-ds-modal {

}

.mom-ds-modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	visibility: hidden;;
	background: #000;
	opacity: 0.6;
	z-index: 99000;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}
.mom-ds-modal-backdrop.modal-on {
	visibility: visible;
}
.mom-ds-modal-wrap {
	position: fixed;
	top: 50px;
	left: 15%;
	right: 15%;
	bottom: 50px;
	visibility: hidden;
	z-index: 100000;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}
.mom-ds-modal-wrap.modal-on {
	visibility: visible;
}
.mom-ds-modal {
	background-color: #fff;
	-webkit-box-shadow: 8px 8px 8px -8px rgba(0,0,0,0.16), 8px 8px 8px -8px rgba(0,0,0,0.16), -8px 8px 8px -8px rgba(0,0,0,0.16);
	-moz-box-shadow:    8px 8px 8px -8px rgba(0,0,0,0.16), 8px 8px 8px -8px rgba(0,0,0,0.16), -8px 8px 8px -8px rgba(0,0,0,0.16);
	box-shadow:         8px 8px 8px -8px rgba(0,0,0,0.16), 8px 8px 8px -8px rgba(0,0,0,0.16), -8px 8px 8px -8px rgba(0,0,0,0.16);
	max-height:inherit;
	height: 100%;
}
.mom-ds-modal-wrap .mom-ds-modal {
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	opacity: 0;
	padding: 20px 30px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.mom-ds-modal-wrap.modal-on .mom-ds-modal {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}
.mom-ds-modal-wrap {
	top: 50%;
	left: 50%;
	right: auto;
	bottom: auto;
	width: 500px;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);

}
.mom-ds-modal-wrap p {
	font-size: 14px;
}


/* System status page */

.mom-system-status-page table {
	margin-bottom: 30px;
}

table.mom-status-table td mark.yes {
	color:#7ad03a;
	background: none;
}
table.mom-status-table td mark.error {
	color:red;
	background: none;
}
.mom-system-status-page table td:first-child {
	width: 33%;
}
.mom-system-status-page table td.help {
	width: 1em;
}

.mom-ds-header {
	margin-bottom: 30px;
}
